<table>
    <tbody>
        <tr>
            <td><h2>Single Record</h2></td>
        </tr>
        <tr>
            <td>ID</td>
            <td>:</td>
            <td> <%= user_array._id %> </td>
        </tr>
        <tr>
            <td>Categoryname</td>
            <td>:</td>
            <td> <%= user_array.categoryname %></td>
        </tr>
    
            
    </tbody>
</table>